<div class="map-container" id="map"></div>

<div *ngIf="showModal$ | async" class="overlay">
    <div class="modal">
        <div class="modal-content" *ngIf="markerDetails">
            <div class="marker-details">
                <h3>#{{markerDetails.index+1}}</h3>
                <span>Latitude</span>
                <p>{{markerDetails.latlng.lat}}</p>
                <span>Longitude</span>
                <p>{{markerDetails.latlng.lng}}</p>
                <p>{{altitude}}</p>
            </div>
            <div *ngIf="editModeEnabled$ | async" class="edit-details">
                <div class="form-group">
                    <span>Latitude</span>
                    <input type="number" name="lat" [(ngModel)]="lat" />
                </div>
                <div class="form-group">
                    <span>Longitude</span>
                    <input type="number" name="long" [(ngModel)]="long" />
                </div>
                <div class="form-group">
                    <button (click)="cancelEditMarker()">Cancel</button>
                    <button (click)="updateEditMarker()">Save</button>
                </div>
            </div>
        </div>
        <div class="modal-buttons">
            <button (click)="removeMarker(markerDetails.marker)">Delete</button>
            <button (click)="closeModal()">Close</button>
            <button (click)="editMarker()">Edit Parameters</button>
            <button (click)="sendMarkers()">Send Markers</button>
        </div>
    </div>
</div>